main {
  text-align: center;
}
.bg {
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
  z-index: -1;
  position: fixed;
}

body {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: black;

}

.wholespace{
  display:block;
}


.heading{
    width: 80;
    padding: 40px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;
    text-shadow:black;

}

.description{
    background-color: black;
    opacity: 0.5;
    color: azure;
    text-align: center;
    display: inline-flexbox;
}

.list-of-volumes{
    background-color: black;
    opacity: 0.5;
    color:azure;
    text-align:  center;
    margin-top: 20px;
    height:35px;
 
}

.wds-collapsible-pannel{
  display: flex;
  flex-direction: column;
}

.tg{
    width: 10%;

}

.nav-container{
  display: flex;
  justify-content: space-between;
}

.nav-button{
  display: block;
  background-color: black;

  opacity: 70%;
  margin: auto;

}

.nav-txt{
  color: azure;
  padding-right:34px;
  

}
.nav-ul{
  list-style: none;
 
}

.nav-container a:link{
  color: azure;
}
.nav-container a:hover{
  color: deepskyblue;
}

